{% load static %}
<!-- FOOTER -->
 <section class="">
  <footer>
    <div class="footer-top">
      <div>
        <div class="footer-brand">Torvu</div>
        <p class="footer-contact">Torvu National Headquarters<br>1200 Opportunity Avenue<br>Washington, DC 20005, USA<br><br>Tel: +1 (202) 555-0185<br><a href="mailto:info@torvu.org" style="color: inherit; text-decoration: none;">info@torvu.org</a></p>
        <div class="f-social-row">
          <div class="f-social-btn">f</div>
          <div class="f-social-btn">&#120143;</div>
          <div class="f-social-btn">&#9432;</div>
          <div class="f-social-btn">&#9654;</div>
          <div class="f-social-btn">in</div>
        </div>
      </div>
      <div class="footer-col">
        <h4>Get Involved</h4>
        <ul>
          <li>Find Employment Support</li>
          <li>Volunteer</li>
          <li>Career Opportunities</li>
          <li>Internships</li>
          <li>Partner With Us</li>
          <li>Donate</li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Explore</h4>
        <ul>
          <li>Workforce Development</li>
          <li>Career Resources</li>
          <li>Employer Partnerships</li>
          <li>Success Stories</li>
          <li>News &amp; Insights</li>
          <li>Annual Impact Reports</li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Torvu Network</h4>
        <ul>
          <li>Torvu Foundation</li>
          <li>Torvu Workforce Institute</li>
          <li>Torvu Employer Alliance</li>
          <li>Torvu Community Partners</li>
          <li>Torvu Career Centers</li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-copy">&copy; 2026 Torvu. All rights reserved.</div>
      <div class="footer-sites">
        <a href="#">Privacy Policy</a>
        <a href="#">Cookie Policy</a>
        <a href="#">Accessibility Statement</a>
      </div>
    </div>
  </footer>
</section>
