{% load static %}

<!-- NAV -->
<nav>
  <a class="nav-logo" href="{% url 'torvu:home' %}">
    <img src="{% static 'svg/torvu-logo-spark.svg' %}" alt="Torvu" />
  </a>
  <div class="nav-links">
    <a href="{% url 'torvu:about' %}">About us</a>
    <a href="{% url 'torvu:home' %}" class="{% block nav_solutions_active %}{% endblock %}">Our solutions ecosystem</a>
    <a href="{% url 'torvu:stay_informed' %}">Stay informed</a>
    <a href="{% url 'torvu:contact' %}">Get involved</a>
  </div>
  <div class="nav-right">
    <a href="{% url 'torvu:request_assistance_form' %}"><button class="btn-request">Request Assistance</button></a>
    <button class="hamburger" aria-label="Toggle menu" onclick="toggleMenu(this)">
      <span></span><span></span><span></span>
    </button>
  </div>
</nav>
<div class="mobile-menu" id="mobile-menu">
  <a href="{% url 'torvu:about' %}">About us</a>
  <a href="{% url 'torvu:home' %}" class="{% block mobile_nav_solutions_active %}{% endblock %}">Our solutions ecosystem</a>
  <a href="{% url 'torvu:stay_informed' %}">Stay informed</a>
  <a href="{% url 'torvu:contact' %}">Get involved</a>
  <a href="Torvu_register.html">Sign up</a>

</div>
